<div ng-controller="adminDashboardController" ng-init="initData();">
    <div class="adminDashboardCard">
        <div class="row">
            <div class="col-md-6">
                <h5><strong>Settlement slip</strong></h5>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h5><strong>Revenue today:</strong></h5>
                    </div>
                    <div class="col-md-2">
                        <h5><strong>{{revenueToday}}</strong></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><strong>Spent today:</strong></h5>
                    </div>
                    <div class="col-md-2">
                        <h5><strong>{{spentToday}}</strong></h5>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h5><strong>Revenue yesterday:</strong></h5>
                    </div>
                    <div class="col-md-2">
                        <h5><strong>{{revenueYesterday}}</strong></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><strong>Spent yesterday:</strong></h5>
                    </div>
                    <div class="col-md-2">
                        <h5><strong>{{spentYesterday}}</strong></h5>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <br>
                <p style="border-bottom: 1px solid rgba(0,0,0,0.11); margin-bottom: 20px; width:135%;"></p>
                <div class="row">
                    <div class="col-md-3" style="margin-left: 20px;">
                        <div class="form-group">
                            <select class="form-control" data-ng-model="selectedDate"
                                    data-ng-options="v as k for (k, v) in dateOptions"
                                    style="margin-bottom: 14px;"
                                    ng-change="initData();">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left: 20px;">
                        <h5><strong>Period : <u>{{selectedDate}}</u></strong></h5>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="table" class="table table-hover table-sm table-bordered"
                               ng-style="tableStyle" style="border-collapse: collapse !important;">
                            <thead class="thead-default">
                            <tr style="text-align: center; vertical-align: middle">
                                <th>
                                    <a href="">Buyer</a>
                                </th>

                                <th>
                                    <a href="">Revenue</a>
                                </th>

                                <th>
                                    <a href="">Spent</a>
                                </th>

                                <th>
                                    <a href="">Profit</a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr style="text-align: center; vertical-align: middle"
                                ng-repeat="item in adminDashboardData">
                                <td>{{item.buyer}}</td>
                                <td>{{item.revenue}}</td>
                                <td>{{item.spent}}</td>
                                <td>{{item.profit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>