<div ng-controller="arbitratorExecutiveController">
    <div class="row" style="margin-top: 10%">

        <div class="col-lg-2 col-sm-6">
            <div class="card card-circle-chart" data-background-color="blue">
                <div class="card-header text-center">
                    <h5 class="card-title">Result</h5>
                    <p class="description">The sum of all verified conversions by the advertiser for the past month</p>
                </div>
                <div class="card-content">
                    <div class="chart-circle" data-percent="70">70%</div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6">
            <div class="card card-circle-chart" data-background-color="blue">
                <div class="card-header text-center">
                    <h5 class="card-title">Result</h5>
                    <p class="description">The sum of all confirmed conversions for the current month for each
                        bayer with the total amount</p>
                </div>
                <div class="card-content">
                    <div id="chartDashboard" class="chart-circle" data-percent="70">70%</div>
                </div>
            </div>
        </div>

        <div class="col-lg-1 col-sm-6"></div>

        <div class="col-lg-2 col-sm-6">
            <div class="card card-circle-chart" data-background-color="green">
                <div class="card-header text-center">
                    <h5 class="card-title">Result</h5>
                    <p class="description">Plan for the current month</p>
                </div>
                <div class="card-content">
                    <div id="chartOrders" class="chart-circle" data-percent="34">34%</div>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-2 col-sm-6">
            <div class="card card-circle-chart" data-background-color="orange">
                <div class="card-header text-center">
                    <h5 class="card-title">Result</h5>
                    <p class="description">Balance before plan execution</p>
                </div>
                <div class="card-content">
                    <div id="chartNewVisitors" class="chart-circle" data-percent="62">62%</div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6">
            <div class="card card-circle-chart" data-background-color="brown">
                <div class="card-header text-center">
                    <h5 class="card-title">Result</h5>
                    <p class="description">Current marginality</p>
                </div>
                <div class="card-content">
                    <div id="chartSubscriptions" class="chart-circle" data-percent="10">10%</div>
                </div>
            </div>
        </div>

    </div>
</div>