<div ng-controller="buyerDetailsController" ng-init="">
    <div class="buyerDetailsCard">
        <div class="row">
            <div class="col-md-6">
                <h5><strong>Settlement slip</strong></h5>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Buyer:</h5>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4><strong>Paid out</strong></h4>
                    </div>
                    <div class="col-md-7"></div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <table id="table" class="table table-hover table-sm table-bordered"
                               ng-style="tableStyle" style="border-collapse: collapse !important;">
                            <thead class="thead-default">
                            <tr style="text-align: center; vertical-align: middle">
                                <th>
                                    <a href="">Date</a>
                                </th>

                                <th>
                                    <a href="">Amount</a>
                                </th>

                                <th>
                                    <a href="">Description</a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr style="text-align: center; vertical-align: middle">
                                <td>date 1</td>
                                <td>amount 1</td>
                                <td>description about buyer1</td>
                            </tr>
                            <tr style="text-align: center; vertical-align: middle">
                                <td>date 2</td>
                                <td>amount 2</td>
                                <td>description about buyer2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4><strong>Total paid:</strong></h4>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid rgba(0,0,0,0.11); margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Bonus by current month:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>64.28 USD</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Revenue by current month:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>1865.23 USD</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Profit by current month:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>323.14 USD</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Plan revenue by current month:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>15000 USD</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Сompleted:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>12.4%</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Plan profit by current month:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>5000 USD</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h5><strong>Сompleted:</strong></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>12.4%</strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>