<div ng-controller="buyerPaymentsController" class="main-panel" ng-style="style();" resize>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button onclick="sidebarChange()" class="btn btn-fill btn-icon"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">
                    Buyer Payments
                </a>
            </div>
        </div>
    </nav>

    <div class="content" style="margin-top: 15px">
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Payments</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th><a>Buyer</a></th>
                                    <th><a>Staff</a></th>
                                    <th><a>Date</a></th>
                                    <th><a>Payroll</a></th>
                                    <th><a>Sum</a></th>
                                    <th><a>Type</a></th>
                                    <th><a>Wallet</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="payments.length === 0">
                                    <td colspan="7"><div class="loader text-center"></div></td>
                                </tr>
                                <tr ng-repeat="payment in payments" ng-show="payments.length !== 0">
                                    <td>{{payment.buyer}}</td>
                                    <td>{{payment.staff}}</td>
                                    <td>{{formatDate(payment.date)}}</td>
                                    <td>{{formatDate(payment.payroll)}}</td>
                                    <td>{{payment.sum}} {{payment.code}}</td>
                                    <td>{{toUpperCase(payment.type)}}</td>
                                    <td>{{toUpperCase(payment.wallet)}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>