<div ng-controller="costDataReportController" ng-init="loadCosts();">
    <div class="cardForCostDataReportControl">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group" id="size">
                            <select class="form-control" data-ng-model="selectedSize"
                                    data-ng-options="v as k for (k, v) in sizeOptions"
                                    style="margin-left: 20px;margin-bottom: 14px;">
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="selectedDate"
                                    data-ng-options="v as k for (k, v) in dateOptions"
                                    style="margin-bottom: 14px;">
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6" style="width: 225px">
                                    <datepicker date-format="yyyy-MM-dd" selector="form-control" style="width:225px;">
                                        <div class="input-group">
                                            <input class="form-control" data-ng-model="dpFromDate"
                                                   ng-disabled="selectedDate !== 'custom'" placeholder="From"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                    </span>
                                        </div>
                                    </datepicker>
                                </div>
                                <div class="col-md-6" style="width:225px; margin-left: -27px">
                                    <datepicker date-format="yyyy-MM-dd" selector="form-control" style="width:225px;">
                                        <div class="input-group">
                                            <input class="form-control" data-ng-model="dpToDate"
                                                   ng-disabled="selectedDate !== 'custom'" placeholder="To"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                    </span>
                                        </div>
                                    </datepicker>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <button class="btn btn-primary btn-md" id="applyBtn" name="apply" type="submit"
                                ng-click="loadCosts();">
                            Apply
                        </button>
                        <button class="btn btn-primary btn-md" id="exportBtn" name="export" type="submit"
                                ng-click="export();">
                            Export
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11 form-group">
                <form class="form-inline">
                    <div class="form-group" ng-init="getBuyers();"
                         style="margin-top:10px;">
                        <select class="selectpicker" multiple
                                data-style="btn-info btn-fill btn-block"
                                data-size="5"
                                title="Buyer"
                                data-header="Buyers"
                                ng-model="selectedBuyerNames"
                                style="width: 130%;margin-left: 5px;">
                            <option class="small-font" ng-repeat="b in buyerNames" data-select-watcher
                                    data-last="{{$last}}" value="{{b.name}}">{{b.name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group" ng-init="getTypes();"
                         style="margin-top:10px;">
                        <select class="selectpicker" multiple
                                data-style="btn-info btn-fill btn-block"
                                data-size="5"
                                data-header="Types"
                                selected-header="options selected"
                                title="Types"
                                ng-model="selectedTypes"
                                style="width: 120%;">
                            <option class="small-font" ng-repeat="t in types"
                                    data-select-watcher
                                    data-last="{{$last}}" value="{{t.name}}">{{t.name}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-1">
                <div class="loader" style="text-align: center;" ng-show="showCostsLoader"></div>
                <div style="text-align: center;" ng-show="!showCostsLoader"></div>
            </div>
        </div>
    </div>

    <div class="cardForCostDataReportTable">
        <div class="row">
            <div class="col-md-12">
                <table id="table" class="table table-hover table-sm table-bordered" ng-style="tableStyle"
                       style="border-collapse: collapse !important;">
                    <thead class="thead-default">
                    <tr style="text-align: center; vertical-align: middle">
                        <th style="text-align: center; vertical-align: middle">
                            <a href="" ng-click="sortType = ''">
                                <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Date
                            </a>
                        </th>

                        <th style="text-align: center; vertical-align: middle">
                            <a href="" ng-click="sortType = ''">
                                    <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Source
                            </a>
                        </th>

                        <th style="text-align: center; vertical-align: middle; width:30%;">
                            <a href="" ng-click="sortType = ''">
                    <span ng-show="sortType == '' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Compaign Name
                            </a>
                        </th>

                        <th style="text-align: center; vertical-align: middle">
                            <a href="" ng-click="sortType = ''">
                    <span ng-show="sortType == '' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Account Holder
                            </a>
                        </th>

                        <th style="text-align: center; vertical-align: middle">
                            <a href=""
                               ng-click="sortType = ''">
                            <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                  class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Spent
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in costs">
                    <tr>
                        <td style="text-align: left; vertical-align: middle; cursor:pointer"
                            colspan="5" data-toggle="collapse" ng-click="showBuyerDetailsColumn(item.buyerId);">
                            <strong class="panel-heading">Buyer: {{item.buyerName }} <i
                                    class="ti-angle-down"></i></strong></td>
                    </tr>
                    <tr style="text-align: center; vertical-align: middle"
                        ng-repeat="stat in item.statistics" ng-show="buyerDetails && idFinder(item.buyerId)">
                        <td style="text-align: center; vertical-align: middle" class="panel-body">{{stat.date}}</td>
                        <td style="text-align: center; vertical-align: middle" class="panel-body">{{stat.accountType}}
                        </td>
                        <td style="text-align: left; vertical-align: middle" class="panel-body">{{stat.campaignName}}
                        </td>
                        <td style="text-align: center; vertical-align: middle" class="panel-body">{{stat.username}}</td>
                        <td style="text-align: center; vertical-align: middle" class="panel-body">{{stat.spent}}</td>
                    </tr>
                    <tr ng-show="buyerDetails && idFinder(item.buyerId)">
                        <td style="text-align: left; vertical-align: middle" colspan="4">
                            <strong>Total by buyer: {{item.buyerName}}</strong></td>
                        <td style="text-align: center; vertical-align: middle">
                            <strong>{{item.buyerTotalSpent}}</strong></td>
                    </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <!--<div class="text-center">-->
                    <!--<uib-pagination total-items="totalPagination" max-size="5"-->
                    <!--ng-model="selectedPage" items-per-page="selectedSize"-->
                    <!--ng-click=""></uib-pagination>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>