<div ng-controller="payrollController" ng-init="getBuyers(); getCurrency(); getDescription();loadPayrolls();">

    <div class="cardForPayrollsControl">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <button class="btn btn-primary btn-md" id="applyBtn" name="apply" type="submit"
                                ng-click="applyPayroll();">
                            Apply
                        </button>
                        <button class="btn btn-primary btn-md" id="exportBtn" name="export" type="submit"
                                ng-click="addPayroll();">
                            Add
                        </button>
                        <button class="btn btn-primary btn-md" id="postBtn" name="postback" type="submit"
                        ng-click="cancelClick()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 container-fluid" ng-repeat="p in addedPayrolls track by $index">
                <form class="form-inline">
                    <div class="form-group" style="width: 100%">
                        <label style="width: 100%">
                            <select class="form-control" ng-model="p.buyerId"
                                    style="width: 18%!important;">
                                <option value="" disabled selected>Buyers</option>
                                <option ng-repeat="b in buyerOptions"
                                        value="{{b.id}}">
                                    {{b.name}}
                                </option>
                            </select>
                            <input type="text" class="form-control" id="payrollDate"
                                   ng-model="p.date" placeholder="Date"
                                   style="width: 16%!important;"/>
                            <select class="form-control" ng-model="p.type"
                                    style="width: 16%!important;">
                                <option ng-repeat="t in typeValues"
                                        value="{{t.value}}">
                                    {{t.name}}
                                </option>
                            </select>
                            <input type="text" class="form-control" id="payrollSum"
                                   ng-model="p.sum" placeholder="Sum"
                                   style="width: 16%!important;"/>
                            <select class="form-control" ng-model="p.currencyId"
                                    style="width: 16%!important;">
                                <option ng-repeat="c in currencyOptions"
                                        value="{{c.id}}">
                                    {{c.code}}
                                </option>
                            </select>
                            <select class="form-control" ng-model="p.description"
                                    style="width: 16%!important;">
                                <option ng-repeat="d in descriptionOptions"
                                        value="{{d}}">
                                    {{d}}
                                </option>
                            </select>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="cardForPayrollsTable">
        <div class="row">
            <div class="col-md-1">
                <div class="form-group" id="size">
                    <select class="form-control" data-ng-model="selectedSize"
                            data-ng-options="v as k for (k, v) in sizeOptions"
                            style="width: 100px;margin-bottom: 14px;">
                    </select>
                </div>
            </div>
            <div class="col-md-11"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="table" class="table table-hover table-sm table-bordered text-center" ng-style="tableStyle"
                       style="border-collapse: collapse !important;">
                    <thead class="thead-default">
                    <tr>
                        <th><a href="">#</a></th>
                        <th>
                            <a href="" ng-click="sortColumn = 'buyer';changeOrder();">
                                    <span ng-show="sortColumn == 'buyer' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                <span ng-show="sortColumn == 'buyer' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortColumn == 'buyer' && sortReverse == ''"></span>
                                Buyer
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortColumn = 'date';changeOrder();">
                                <span ng-show="sortColumn == 'date' && sortReverse == 'ASC'"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="sortColumn == 'date' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortColumn == 'date' && sortReverse == ''"></span>
                                Date
                            </a>
                        </th>
                        <th><a>Type</a></th>
                        <th><a>Sum</a></th>
                        <th><a>Currency</a></th>
                        <th><a>Description</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="payrolls.length != 0" ng-repeat="item in payrolls"
                        ng-click="clickRow(item)" data-toggle="modal" data-target="#payroll-modal">

                        <td>{{$index+1}}</td>
                        <td>{{item.bayerName}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.typeName}}</td>
                        <td>{{item.sum}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.description}}</td>
                    </tr>
                    <tr ng-show="payrolls.length == 0">
                        <td colspan="15">
                            <div class="loader" style="text-align: center;" ng-show="showPayrollsLoader"></div>
                            <div style="text-align: center;" ng-show="!showPayrollsLoader">No data</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div class="text-center">
                        <uib-pagination total-items="totalPagination" max-size="5"
                                        ng-model="selectedPage" items-per-page="selectedSize">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="payroll-modal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit payroll</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>
                                <select class="form-control" ng-model="selectedBuyerName"
                                        style="width: 16%!important;">
                                    <option ng-repeat="b in buyerOptions"
                                            value="{{b.name}}">
                                        {{b.name}}
                                    </option>
                                </select>
                                <input type="text" class="form-control"
                                       ng-model="selectedDate" placeholder="Date"
                                       style="width: 16%!important;"/>
                                <select class="form-control" ng-model="selectedTypeValue"
                                        style="width: 16%!important;">
                                    <option ng-repeat="t in typeValues"
                                            value="{{t.name}}">
                                        {{t.name}}
                                    </option>
                                </select>
                                <input type="text" class="form-control"
                                       ng-model="selectedSum" placeholder="Sum"
                                       style="width: 16%!important;"/>
                                <select class="form-control" ng-model="selectedCurrencyCode"
                                        style="width: 16%!important;">
                                    <option ng-repeat="c in currencyOptions"
                                            value="{{c.code}}">
                                        {{c.code}}
                                    </option>
                                </select>
                                <select class="form-control" ng-model="selectedDescriptionValue"
                                        style="width: 16%!important;">
                                    <option ng-repeat="d in descriptionOptions"
                                            value="{{d}}">
                                        {{d}}
                                    </option>
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            ng-click="saveExistingPayroll();">Save changes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            ng-click="close();">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>