<div ng-controller="planByBuyerController" ng-init="">
    <div class="cardForBuyerPlans">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <form class="form-inline">

                        <div class="form-group" ng-init="getBuyers();"
                             style="margin-right:5px;margin-bottom: 3px; margin-left: 10px;">
                            <select class="selectpicker" multiple
                                    data-style="btn-info btn-fill btn-block"
                                    data-size="5"
                                    title="Buyer"
                                    data-header="Buyers"
                                    ng-model="selectedBuyerNames"
                                    style="width: 130%;margin-left: 5px;">
                                <option class="small-font" ng-repeat="b in buyerNames" data-select-watcher
                                        data-last="{{$last}}" value="{{b.name}}">{{b.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" data-ng-model="selectedDate"
                                    data-ng-options="v as k for (k, v) in dateOptions"
                                    style="margin-bottom: 14px;">
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6" style="width: 225px">
                                    <datepicker date-format="yyyy-MM-dd" selector="form-control" style="width:225px;">
                                        <div class="input-group">
                                            <input class="form-control" data-ng-model="dpFromDate"
                                                   ng-disabled="selectedDate !== 'custom'" placeholder="From"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                    </span>
                                        </div>
                                    </datepicker>
                                </div>
                                <div class="col-md-6" style="width:225px; margin-left: -27px">
                                    <datepicker date-format="yyyy-MM-dd" selector="form-control" style="width:225px;">
                                        <div class="input-group">
                                            <input class="form-control" data-ng-model="dpToDate"
                                                   ng-disabled="selectedDate !== 'custom'" placeholder="To"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                    </span>
                                        </div>
                                    </datepicker>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <button class="btn btn-primary btn-md" id="applyBtn" name="apply" type="submit"
                                ng-click="">
                            Apply
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cardForBuyerPlansTable">
        <div class="row">
            <div class="col-md-12">
                <table id="table" class="table table-hover table-sm table-bordered buyersCostsTable"
                       ng-style="tableStyle" style="border-collapse: collapse !important;">
                    <thead class="thead-default">
                    <tr style="text-align: center; vertical-align: middle">

                        <th>
                            <a href="" ng-click="sortType = ''">
                                <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Month
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = ''">
                                <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Buyer Name
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = ''">
                                    <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                KPI Name
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = ''">
                    <span ng-show="sortType == '' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                KPI Value
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = ''">
                    <span ng-show="sortType == '' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                Executed Amount
                            </a>
                        </th>

                        <th>
                            <a href=""
                               ng-click="sortType = ''">
                            <span ng-show="sortType == '' && sortReverse == 'ASC'"
                                  class="fa fa-caret-up"></span>
                                <span ng-show="sortType == '' && sortReverse == 'DESC'"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == '' && sortReverse == ''"></span>
                                % Performance
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr style="text-align: center; vertical-align: middle"
                        ng-show="">
                        <td class="panel-body"><strong></strong></td>
                        <td class="panel-body"><strong></strong></td>
                        <td class="panel-body"><strong></strong></td>
                        <td class="panel-body"><strong></strong></td>
                        <td class="panel-body"><strong></strong></td>
                        <td class="panel-body"></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr ng-show="plans.length == 0">
                        <td colspan="6">
                            <div class="loader" style="text-align: center;" ng-show="showPlanByBuyerLoader"></div>
                            <div style="text-align: center;" ng-show="!showPlanByBuyerLoader">No data</div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>