<!DOCTYPE html>
<html ng-app="Application">

<head>
    <meta charset="utf-8"/>
    <title>Admin Panel</title>
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/nya-bs-select.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous"/>
    <link href="css/angular-datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/paper-dashboard.css" rel="stylesheet"/>
    <link href='css/css.css' rel='stylesheet' type='text/css'/>
    <link href="css/themify-icons.css" rel="stylesheet"/>
    <link href="css/alertify.min.css" rel="stylesheet"/>
    <link href="css/default.min.css" rel="stylesheet"/>
    <style>
        .alertify .alert .msg, .alertify .dialog .msg {
            width: 95% !important;
        }
    </style>
</head>

<body style="background: #f4f3ef">
<header>
    <nav id="navbarCustom" class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="navbar" style="font-size:12pt;">
                <li>
                    <a style="color:white;" href="">Home</a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" style="color:white; ">
                        Finance
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="">
                        <li><a href="#!payroll">Payrolls</a></li>
                        <li><a href="#">Team Leader Finance</a></li>
                        <li><a href="#">Income management</a></li>
                        <li><a href="#">Receivables</a></li>
                        <li><a href="#">Salary</a></li>
                        <li><a href="#">Cost management</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" style="color:white; ">
                        Buyer
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="">
                        <li><a href="#!plan">Plan by buyer</a></li>
                        <li><a href="#">Get AfID</a></li>
                        <li><a href="#">Personal finance</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" style="color:white; ">
                        Reports
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="">
                        <li><a href="#!conversions">Conversions</a></li>
                        <li><a href="#!postback">Postbacks</a></li>
                        <li><a href="#!sources">Revenue|spent</a></li>
                        <li><a href="#!statistic">Spent by sources</a></li>
                        <li><a href="#">Advertisers</a></li>
                    </ul>
                </li>

                <li>
                    <a style="color:white;" href="#!/buyer/dashboard">Dashboard</a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" style="color:white; ">
                        Catalogs
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="">
                        <li><a href="#">Postbacks Edit</a></li>
                        <li><a href="#!advertiser">Advertisers and Status</a></li>
                        <li><a href="#!buyers">Buyers and afid</a></li>
                        <li><a href="#">Trackers and prefix</a></li>
                        <li><a href="#">Currency and rate</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" style="color:white; ">
                        Users
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="">
                        <li><a href="#">Change password</a></li>
                        <li><a href="#">Users and rights</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="navForLogout" style="font-size:13pt;">
                <li>
                    <a href="/logout" style="color:white;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div ng-view=""></div>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="scripts/angular.js"></script>
<script src="scripts//angular-route.js"></script>
<script src="scripts//bootstrap.min.js"></script>
<script src="scripts//ui-bootstrap-tpls-2.2.0.js"></script>
<script src="scripts//ui-bootstrap-tpls-1.2.5.js"></script>
<script src="scripts/angular-datepicker.js"></script>
<script src="scripts/nya-bs-select.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/route.js"></script>
<script src="scripts/service/dateFactory.js"></script>
<script src="scripts/controllers/conversionController.js"></script>
<script src="scripts/controllers/advertiserController.js"></script>
<script src="scripts/controllers/postbackController.js"></script>
<script src="scripts/controllers/payrollController.js"></script>
<script src="scripts/controllers/buyerController.js"></script>
<script src="scripts/controllers/arbitratorController.js"></script>
<script src="scripts/controllers/statisticController.js"></script>
<script src="scripts/controllers/sourcesController.js"></script>
<script src="scripts/controllers/arbitratorExecutiveController.js"></script>
<script src="scripts/controllers/planByBuyerController.js"></script>
<script src="scripts/controllers/dashboardController.js"></script>
<script src="scripts/controllers/adminDashboardController.js"></script>
<script src="scripts/service/authorizationService.js"></script>
<script src="scripts/service/roleService.js"></script>
<script src="scripts/selectpicker.js"></script>
<script src="scripts/bootstrap-notify.js"></script>
<script src="scripts/alertify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.2/angular-resource.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>